/* 
    Created on : 2016-12-15, 10:34:17
    Author     : Kamila Przychodzen <kamila.przychodzen@gmail.com>
*/
body {
  padding: 5px;
  font: "Open Sans", sans-serif;
  font-size: 12pt;
  padding-bottom: 70px;
  background-color: #f1f0ee;
  color: black;
}
a,
.clicable {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a.red {
  color: #b11a21;
}
footer {
  background-color: #f1f0ee;
  border: none;
}
.dropdown-menu {
  font-size: 12pt;
}
nav {
  font: 300 1.5em/1.1em "Open Sans", sans-serif;
  text-align: center;
}
nav .navbar-brand {
  color: #b11a21 !important;
  font-weight: bolder;
  font-size: 28px;
}
nav .navbar-text {
  color: #b11a21 !important;
}
nav .navbar-form {
  border: none;
}
nav .navbar-form button {
  background-color: #e0474c;
}
#logo {
  background-image: url(../..//images/logo-1-line.png);
  height: 100px;
  background-size: auto 90%;
  background-position: 43% 100%;
  background-repeat: no-repeat;
}
.form-login {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  padding: 10px 20px 10px 20px;
  margin: 10px 0 10px 0;
  background-color: white;
}
.form-login input {
  border-color: #D3E9EC;
}
.form-login h2 {
  color: #6c6457;
  text-transform: uppercase;
}
.form-login button {
  background-color: #e0474c;
  color: white;
}
.main-container {
  padding: 0px;
  background-image: url('/images/home-vector.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 20% 50%;
}
.marketing {
  text-align: center;
}
.marketing .heading {
  color: #e0474c;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5), 0px -1px 0px rgba(0, 0, 0, 0.5);
}
.marketing .marketing-tag {
  color: #e0474c;
  text-shadow: 0px 1px 0px #f1f0ee, 0px -1px 0px #fc4a1a;
  line-height: 30px;
  font-size: 26px;
  font-weight: bolder;
}
.marketing .marketing-description {
  padding: 10px;
  text-align: justify;
  color: #6c6457;
}
.houses-grid {
  display: block;
}
.houses-grid .house-space-on-grid {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  background-color: white;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: 10px;
}
.houses-grid .house-space-on-grid div.lead,
.houses-grid .house-space-on-grid a {
  padding: 10px 10px 0px 10px;
  color: #b11a21;
  font-family: "Scada";
}
.houses-grid .house-space-on-grid .pull-right > .dropdown-menu {
  right: -180px;
}
.modal .modal-header {
  background-color: #e0474c;
  color: white;
  text-align: center;
}
.modal .modal-footer {
  background-color: white;
}
.btn-feedback {
  /*background-color: @curry;*/
  float: right;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 18px;
}
#loading-bar .bar {
  position: relative;
  width: 100%;
}
.form-panel {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
  padding: 10px 20px 10px 20px;
  background-color: white;
}
.bg-panel {
  padding: 15px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */