
/* 
    Created on : 2016-12-13, 23:19:18
    Author     : Kamila Przychodzen <kamila.przychodzen@gmail.com>
*/

@import "colors.less";

.house-profile{

    h2{
        font: 400 3.5em/1.1em "Scada", sans-serif;
        color: @lighter-red;    
    }

    .nav{
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
        a {
            color:@deep-red;
            font: 400 1.5em/1.2em 'Open Sans', sans-serif;
        }
    }

    .house-profile-preferences{
        background-color: white;
        padding:20px;

        p{
            color:grey;
        }

    }

    .house-profile-picture{
        background-color: white;
        margin-bottom: 15px;
        a{
            padding:10px 10px 0 0;
            color:@light-blue;
            text-decoration: none;
        }

        img{
            height:300px;
            max-width: 350px;
            padding:20px;
            overflow: hidden;
        }
    }
}