
/* 
    Created on : 2016-12-13, 23:19:18
    Author     : Kamila Przychodzen <kamila.przychodzen@gmail.com>
*/

@import "colors.less";

.house-profile{

    h2{
        font: 400 3.5em/1.1em "Scada", sans-serif;
        color: @lighter-red;    
    }

    .nav{
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
        a {
            color:@deep-red;
            font: 400 1.5em/1.2em 'Open Sans', sans-serif;
        }
        .active {
            text-decoration: none;
            background-color: #eee;
        }
    }

    .house-profile-preferences{
        background-color: white;
        padding:20px;

        p{
            color:grey;
        }

    }

    .house-profile-picture{
        /*background-color: white;*/
        margin-bottom: 15px;
        .edit-profile-picture{
            position: absolute;
            top: 30;
            right: 30;
            a{
                padding:10px 10px 0 0;
                color:@light-blue;
                text-decoration: none;
            }
        }

        img{
            height:300px;
            max-width: 350px;
            padding:20px;
            overflow: hidden;
        }

        #house-profile-canvas{
            width:100%;
            max-height: 300px;
            max-width: 300px;
            padding:20px;
        }
    }

    .google-maps {
        position: relative;
        padding-bottom: 35%; // This is the aspect ratio
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

}