<div class="container-fluid house-profile" ng-controller="HouseProfileCtlr">
    <div class="col-md-3 left-side">
        <div class="house-profile-picture">
            <a class="glyphicon glyphicon-edit pull-right" data-target="#basicPropertiesModal" data-toggle="modal" title="Change profile picture"></a>
            <img class="center-block" id="house-profile-picture" ng-src="{{profile.thumbnail}}" alt="House profile thumbnail"/>
        </div>
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="">House profile</a></li>
            <li><a href="">Pictures</a></li>
            <li><a href="">Documents</a></li>
            <li><a href="">Lists</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Settings</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        <h2 class='text-uppercase'>{{profile.name}}</h2>
        <div class="house-profile-preferences">
            <div>
                <p class='heading'>Basic info <i class="glyphicon glyphicon-edit " title="Change profile picture"></i></p>
                <div class='col-md-2'>Moved in</div>
                <div class='col-md-10'>2014</div>
                <div class='col-md-2'>Built</div>
                <div class='col-md-10'>2014</div>
                <div class='col-md-2'>Ownership</div>
                <div class='col-md-10'>Owner</div>
                <div class='col-md-2'>Inhabitants</div>
                <div class='col-md-10'>None.</div>
                <div class='col-md-2'>Address</div>
                <div class='address col-md-10'>
                    <address>
                        <strong>{{profile.address.street1}} {{profile.address.street2}}</strong>,
                        {{profile.address.postalCode}} {{profile.address.state}} {{profile.address.city}} {{profile.address.country}}<br>
                    </address>
                </div>

            </div>
            <div class='clearfix'>
                <p class='heading'>Building <i class="glyphicon glyphicon-edit " title="Change profile picture"></i></p>
                <div class='col-md-2'>Type</div>
                <div class='col-md-10'>House</div>
                <div class='col-md-2'>Square meters</div>
                <div class='col-md-10'>52</div>
                <div class='col-md-2'>Rooms</div>
                <div class='col-md-10'>3</div>
                <div class='col-md-2'>Facilities</div>
                <div class='col-md-10'>
                    <div class="checkbox">
                        <div class='col-md-2'>
                            <label>
                                <input type="checkbox" disabled=""> Parking place 
                            </label>
                            <label>
                                <input type="checkbox" disabled> Garage 
                            </label>
                            <label>
                                <input type="checkbox" disabled> Elevator 
                            </label>
                        </div>
                        <div class='col-md-2'>
                            <label>
                                <input type="checkbox" disabled> Terrace 
                            </label>

                            <label>
                                <input type="checkbox" disabled> Guard
                            </label>
                            <label>
                                <input type="checkbox" disabled> Fireplace
                            </label>
                        </div>
                        <div class='col-md-2'>
                            <label>
                                <input type="checkbox" disabled> Sauna
                            </label>

                            <label>
                                <input type="checkbox" disabled> Garden
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='clearfix'>
                <p class="heading">Map</p>
                <iframe
                    width="400"
                    height="250"
                    frameborder="0" style="border:0"
                    ng-src="{{currentProjectUrl}}" allowfullscreen>
                </iframe>
            </div>
        </div>

    </div>
    <div id="basicPropertiesModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">House profile</h4>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="form-group">
                            <label  for="file">Choose house profile picture</label>
                            <input type="file" id="file" class="form-control" ng-model="defaultHouseSpace.img" accept="image/*">
                        </div>
                        <img src="../images/house-default.jpg" id="test-profile-picture" alt="Upload profile picture" class="center-block"/>
                        <input type="hidden" name="userId" ng-model="user._id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveProfilePicture()" >Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>


