<div class=" house-profile" ng-controller="HouseProfileCtlr">
    <div class="col-md-2 left-side">
        <div class="house-profile-picture">
            <canvas class="center-block" id="house-profile-canvas" style=""></canvas>
            <a class="glyphicon glyphicon-edit edit-profile-picture" data-target="#basicPropertiesModal" data-toggle="modal" title="Change profile picture"></a>
        </div>
        <ul class="nav nav-tabs nav-stacked">
            <li><a ng-href="#/house/{{profileId}}" ng-class="{'active':!partial}">House profile</a></li>
            <li><a ng-href="#/house/{{profileId}}/pictures" ng-class="{'active':partial === 'pictures'}">Pictures</a></li>
            <li><a ng-href="#/house/{{profileId}}/documents" ng-class="{'active':partial === 'documents'}">Documents</a></li>
            <li><a ng-href="#/house/{{profileId}}/lists" ng-class="{'active':partial === 'lists'}">Lists</a></li>
            <li><a ng-href="#/house/{{profileId}}/calendar" ng-class="{'active':partial === 'calendar'}">Calendar</a></li>
            <li><a ng-href="#/house/{{profileId}}/expanses" ng-class="{'active':partial === 'expanses'}">Expanses</a></li>
            <li><a ng-href="#/house/{{profileId}}/setttings" ng-class="{'active':partial === 'settings'}">Settings</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <h2 class='text-uppercase'>{{profile.name}}</h2>
        <div class="house-profile-preferences">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a data-target="#basicInfo" aria-controls="basicInfo" role="tab" data-toggle="tab">Basic info</a></li>
                <li role="presentation"><a data-target="#building" aria-controls="building" role="tab" data-toggle="tab">Building</a></li>
                <li role="presentation"><a data-target="#add" aria-controls="add" role="tab" data-toggle="tab">Add&hellip;</a></li>
            </ul>
            <div class="tab-content clearfix">
                <div role="tabpanel" class="tab-pane active" id="basicInfo"><div ng-include="'partials/profile/basicInfo.html'"></div></div>
                <div role="tabpanel" class="tab-pane" id="building"><div ng-include="'partials/profile/building.html'"></div></div>
                <div role="tabpanel" class="tab-pane" id="add"><div>Comming soon..</div></div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/modals/profilePictureModal.html'"></div>
    <div ng-include="'partials/modals/addInhabitantModal.html'"></div>
</div>
