<div class=" ">
    <!--<div id="logo"></div>-->
    <div class="col-xs-12">
        <form name="createAccountForm" ng-init="user = {}" class="form-login" ng-submit="signUp(user)">
            <h3 class="form-signin-heading text-center">Create account</h3>
            <p class='text-danger' ng-if='validationError'>{{validationError.msg}}</p>
            <label for="signupUserName" class="sr-only">User name</label>
            <input type="text" id="signupUserName" class="form-control" name="username" placeholder="User name" ng-model="user.username" required="" autocorrect="off" autocapitalize="none">
            <span ng-if="createAccountForm.username.$invalid && createAccountForm.username.$touched" class="text-danger small">Username is required.</span>
            <br>
            <label for="signupFirstName" class=" sr-only">First name</label>
            <input type="text" id="signupFirstName" name="signupFirstName" class="form-control" placeholder="First name" ng-model="user.firstName">
            <br>
            <label for="signupLastName" class="sr-only">Last name</label>
            <input type="text" id="signupLastName" name="signupLastName" class="form-control" placeholder="Last name" ng-model="user.lastName">
            <br>
            <label for="email" class="sr-only">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" ng-model="user.email" required="" >
            <span ng-if="createAccountForm.email.$invalid && createAccountForm.email.$touched" class="text-danger small">Correct email is required.</span>
            <br>
            <label for="loginPassword" class="sr-only">Password</label>
            <input type="password" id="loginPassword" name="password" class="form-control" placeholder="Password" ng-model="user.password" required="">
            <span ng-if="createAccountForm.password.$invalid && createAccountForm.password.$touched" class="text-danger small">Password is required.</span>
            <br>
            <label for="loginRepeatPassword" class="sr-only">Repeat password</label>
            <input type="password" id="loginRepeatPassword" name="loginRepeatPassword" class="form-control" placeholder="Repeat password" ng-model="user.repeatPassword" required="">
            <span ng-if="createAccountForm.loginRepeatPassword.$invalid && createAccountForm.loginRepeatPassword.$touched" class="text-danger small">Repeat password.</span>
            <span ng-if="user.password !==user.repeatPassword && createAccountForm.loginRepeatPassword.$touched" class="text-danger small">Password desn't match.</span>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="terms"> Accept terms and conditions
                </label>
            </div>
            <button class="btn btn-lg btn-block" ng-disabled="createAccountForm.$invalid || user.password !==user.repeatPassword" type="submit">Signup</button>
        </form>
    </div>
</div>