
<div class="container-fluid">
    <div class="row main-container">
        <div class="pull-right col-xs-12 col-sm-8 col-md-6 col-lg-4" ng-include=" '../../partials/forms/account/register.html'"></div>

    </div>
    <div class="row col-xs-12">
        <div class="col-md-4 col-xs-12 marketing">
            <h2 class="heading"><i class="glyphicon glyphicon-home"></i></h2>
            <p class="text-uppercase marketing-tag lead"> Design refurbishment</p>
            <p class="marketing-description lead">Use the Housebook application to easily design refurbishment of your house. Store images for inspiration and share your ideas with several entrepreneurs directly from the application.</p>
        </div>
        <div class="col-md-4 col-xs-12 marketing">
            <h2 class="heading"><i class="glyphicon glyphicon-dashboard"></i></h2>
            <p class="text-uppercase marketing-tag lead">Collect data, manuals, receips, guarantees</p>
            <p class="marketing-description lead">Throw away all user manuals and instead store them all in this application. Get an easy to use list of all banks, insurance companies etc that the household has and which benefits are available to you. </p>
        </div>
        <div class="col-md-4 col-xs-12 marketing">
            <h2 class="heading"><i class="glyphicon glyphicon-stats"></i></h2>
            <p class="text-uppercase marketing-tag lead">Overview of expenses and income</p>
            <p class="marketing-description lead">Get live overview of expenses such as TV and internet abonnement, energy consumption and income like rent-out apartment rent.</p>
        </div>
    </div>

</div>

