<div class='container'>
    <div class='row'>
        <div class="panel panel-default form-panel col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6">
            <div class="panel-body">
                <h3 class="text-center">Change password</h3>
                <p ng-if="!formSent" class="text-center">Please provide your new password</p>
                <p ng-if="!success" class="text-center text-danger">{{errMsg}}</p>
                <form ng-if="!formSent" class='form' ng-submit='changePassword(username, password)'>
                    <div ng-if="isResetPassword && username" class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input disabled ng-model='username' class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input placeholder="New password" ng-model='password' class="form-control" type="password" required="" autofocus="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input  placeholder="Repeat password" ng-model='repeatPassword' class="form-control" type="password" required="">
                        </div>
                    </div>
                    <div class='pull-right'>
                        <button type="submit" class="btn btn-primary" ng-disabled="!resetPasswordTokenIsValid || password!==repeatPassword">Change password</button>
                        <a href='#welcome' class="btn btn-default">Cancel</a>
                    </div>
                </form>
                <p ng-if="formSent && success " class="bg-success text-success bg-panel">Success! Your Password has been changed! 
                    <a href="#/welcome">Go to home page</a>
                </p>
            </div>
        </div>
    </div>
</div>