<div class='container'>
    <div class='row'>
        <div class="panel panel-default form-panel col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6">
            <div class="panel-body">
                <h3 class="text-center">Forgot Password?</h3>
                <p>If you have forgotten your password - you can reset it here.</p>
                <p ng-if="formSent && !success" class="text-danger">{{resetPasswordErrorMsg}}</p>
                <form ng-if="!formSent || !success" name="reset-password" class='form' ng-submit='resetPassword(email)'>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="emailInput" placeholder="Email address" ng-model='email' class="form-control" type="email" required="" autofocus="">
                        </div>
                    </div>
                    <div class='pull-right'>
                        <button type="submit" class="btn btn-primary">Reset password</button>
                        <a href='#welcome' class="btn btn-default">Cancel</a>
                    </div>
                </form>
                <br>
                <p ng-if="formSent && success" class="text-info">Reset password email was sent. Please login to your mailbox to finish the process. </p>
                
            </div>
        </div>
    </div>
</div>